@{
  Layout = "_Layout";
}

@using PierresBakery.ViewModels;
@model PierresBakery.Models.Treat

<h2>Edit @Model.Name</h2>
<hr />
<div class="w-50 m-auto">
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  <div class="form-group">
    @Html.LabelFor(treat => treat.Name)
    @Html.TextBoxFor(treat => treat.Name, new { @class = "form-control", placeholder = "Name", required = "required"})
  </div>
  <input type="submit" value="Save" class="btn btn-info" />
}
</div>
<hr />
@Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-primary"})