<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Bakery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @Html.ActionLink("Bakery Manager", "Index", "Home", new {}, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item px-1">
                            @Html.ActionLink("Sign In", "Login", "Account", null, new { @class = "btn btn-success"})
                        </li>
                        <li class="nav-item px-1">
                            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-success"})
                        </li>
                        <li class="nav-item px-1">
                            @Html.ActionLink("Sign Out", "LogOff", "Account", null, new { @class = "btn btn-success"})
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="main-container" class="container">
      @RenderBody()
      @await Html.PartialAsync("Footer")
    </div>
  </body>
</html>